<div style="width: 78%;float: right;margin-right: 1%">
    <div>

        <button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#addCustomerModal" (click)="modalAddCustomer()">
            Add Customer
          </button>

        <table class="table table-striped">
            <thead>
                <th style="display: none;">Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of customerList | paginate:{

                    id:'customer_list_paging',
                    itemsPerPage:10,
                    currentPage:page,
                    totalItems: totalRecords
                }">
                    <td style="display: none;">
                        {{item.id}}
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.address}}&nbsp;{{item.city}}&nbsp;{{item.zip}}
                    </td>
                    <td>
                        {{item.phone}}
                    </td>
                    <td>
                        {{item.email}}
                    </td>
                    <td>
                        {{item.ssn}}
                    </td>
                    <td>
                        <button class="btn btn-outline-primary me-2 mb-1" (click)="modalEditCustomer(item)" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg></button>
                        <button class="btn btn-outline-danger me-2 mb-1" (click)="deleteCustomer(item)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>

            <pagination-controls id='customer_list_paging' (pageChange)="page=$event"></pagination-controls>
        </div>
        <div class="alert alert-success" role="alert" id="add-success-alert">
            Customer Successfully Added.
        </div>
        <div class="alert alert-success" role="alert" id="update-success-alert">
            Customer Successfully Updated.
        </div>
        <div class="alert alert-success" role="alert" id="delete-success-alert">
            Customer Successfully Deleted.
        </div>

        <!-- Add Customer Modal -->
        <div class="modal fade" id="addCustomerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCustomerModalLabel">{{modalTitle}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalCloseCustomer()" id="add-edit-modal-close"></button>
                    </div>
                    <div class="modal-body">
                        <app-upsert-customer [customer]="customer" *ngIf="activateUpsertCustomerComponent">
                        </app-upsert-customer>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>