<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input required pattern="^[a-zA-Z0-9_-' ']{0,15}$" #Name="ngModel" type="text" class="form-control" name="name" [(ngModel)]="name" />
        <div  style="color: red;" *ngIf="Name.touched && !Name.valid">
          <div *ngIf="Name.errors && Name.errors['required']"> Name is required.</div>
        </div>
        <div style="color: red;" *ngIf="Name.errors?.['pattern']">User name not valid.</div>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone No.</label>
        <input required pattern="^[0-9]+$" maxlength="11" #Phone="ngModel" type="text" class="form-control" name="phone" [(ngModel)]="phone" />
        <div style="color: red;" *ngIf="Phone.touched && !Phone.valid">Phone number is required</div>
        <div style="color: red;" *ngIf="Phone.errors?.['pattern']">Use only number.</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #Email="ngModel" type="email" class="form-control" name="email" [(ngModel)]="email" />
        <div style="color: red;" *ngIf="Email.touched && !Email.valid">Valid Email is required</div>

    </div>
    <div class="mb-3">
        <label for="ssn" class="form-label">SSN</label>
        <input required minlength="9" pattern="^[0-9]+$" maxlength="9" #Ssn="ngModel" type="text" class="form-control" name="ssn" [(ngModel)]="ssn" />
        <div style="color: red;" *ngIf="Ssn.touched && !Ssn.valid">Ssn length is 9 character and only number.</div>
        <div style="color: red;" >
          <div style="color: red;" *ngIf="Phone.errors?.['pattern']">Use only number length of 9 character.</div>

        </div>

    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input required #Address="ngModel" type="text" class="form-control" name="address" [(ngModel)]="address" />
        <div style="color: red;" *ngIf="Address.touched && !Address.valid">Address is required</div>

    </div>

    <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input type="text" required #City="ngModel" class="form-control" name="city" [(ngModel)]="city" />
        <div style="color: red;" *ngIf="City.touched && !City.valid">City is required</div>

    </div>
    <div class="mb-3">
        <label for="zip" class="form-label">Zip Code</label>
        <input required pattern="^[0-9]+$" minlength="3" maxlength="9" #Zip="ngModel" type="text" class="form-control" name="zip" [(ngModel)]="zip" />
        <div style="color: red;" *ngIf="Zip.touched && !Zip.valid">Zip is required

        </div>
        <div style="color: red;" *ngIf="Zip.errors?.['pattern']">Use only number.</div>

    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input required #Description="ngModel" type="text" class="form-control" name="description" [(ngModel)]="description" />
        <div style="color: red;" *ngIf="Description.touched && !Description.valid">Description is required</div>

    </div>

    <button (click)="addCustomer()" *ngIf="customer.id==0" class="btn btn-primary"> Add</button>
    <button (click)="updateCustomer()" *ngIf="customer.id!=0" class="btn btn-primary"> Update</button>&nbsp;
    <button  class="btn btn-primary" data-bs-dismiss="modal">close</button>
</form>
